@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #ff1493;
    text-decoration: none;
}

a:visited { color: #bf146f; }

a:hover {
    color:#86114f;
    font-weight: 500;
    text-decoration: underline;
    background-color: antiquewhite;
}

a:active { color: #1818a7; }

.mainLink::before { content: '▶ '; }

.mainLink::after { content: ' ◀'; }

#main::after {
    content: ' [Link]';
    color: #0000007a;
}

p {
    text-indent: 30px;
    text-align: justify;
}

p::first-line {
    font-variant: small-caps;
    color:#67ab23;
}