@charset "UTF-8";

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 500px;
}

caption {
    font-size: 1.3em;
    background-color: #71459b;
    color: #fff;
}

th, td {
    text-align: center;
    border: 1px solid #000;
    padding: 3px;
}

col.c_name {
    background-color: #ff6347;
}

col.yellow {
    background-color: #dbed64;
}

col.green {
    background-color: #12976d;
}